<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Accueil - AIFARM</title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" href="/static/assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
    <link rel="stylesheet" href="/static/assets/css/Ludens---Country-State-City-selects.css">
    <link rel="stylesheet" href="/static/assets/css/NZDropdown-Singlee.css">
    <link rel="stylesheet" href="/static/assets/css/vanilla-zoom.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-AIFARM logo" style="text-decoration: none;" href="/">AIFARM</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="/">Accueil</a></li>
                    <li class="nav-item"><a class="nav-link" href="/services">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact-us">Contactez-nous</a></li>
                </ul><a href="#">shop</a>
            </div>
        </div>
    </nav>
    <main class="page landing-page">
        <section class="clean-block clean-hero" style="background-image: url(&quot;/static/assets/img/tech/home.jpeg&quot;);color: rgba(9,255,137,0.46);">
            <div class="fs-5 fw-normal text-dark text">
                <h1 class="display-3 float-none">AI FARM</h1>
                <p class="fs-4">Prenez des décisions éclairées concernant votre stratégie agricole.</p>
                <p class="fs-4 text-center"><br>Voici une liste de questions auxquelles nous répondrons :<br></p>
                <ol class="font-monospace fs-4 text-center">
                    <li>Quelle culture planter ici ?</li>
                    <li>Quel engrais utiliser ?</li>
                    <li>&nbsp;vous souhaitez acheter des engrais de qualité pour votre récolte à un prix raisonnable?</li>
                </ol>
            </div>
        </section>
        <section class="fs-5 clean-block clean-info dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Info</h2>
                    <p class="text-center"><br>AIFARM est une petite initiative améliorant l’agriculture au Maroc, prenez des décisions intelligentes pour prendre en compte la démographie de votre champ, les facteurs affectant votre culture, ainsi que la façon de les garder en bonne santé pour un rendement&nbsp; super impressionnant.<br></p>
                </div>
                <div class="row d-flex align-items-center">
                    <div class="col-md-6 col-xxl-6"><img class="img-thumbnail img-fluid" src="/static/assets/img/scenery/sowit.jpg" loading="auto"></div>
                    <div class="col-md-6 col-xxl-6">
                        <h6 class="text-capitalize fs-5 fw-light text-start"><br><strong>AMÉLIORER L’AGRICULTURE, AMÉLIORER LES VIES, CULTIVER DES CULTURES POUR QUE LES AGRICULTEURS AUGMENTENT LEURS PROFITS.</strong><br><br></h6>
                        <p class="fs-6 fw-light"><strong>Nous utilisons des technologies d’apprentissage automatique et d’apprentissage profond de pointe pour vous aider à vous guider tout au long du processus agricole. Prenez des décisions éclairées pour comprendre les données démographiques de votre région, comprendre les facteurs qui affectent votre culture et les garder en bonne santé pour un rendement réussi super impressionnant.</strong><br><br><br><br></p>
                        <div class="getting-started-info"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="clean-block slider dark">
            <div class="container">
                <div class="carousel slide" data-bs-ride="carousel" id="carousel-1">
                    <div class="carousel-inner">
                        <div class="carousel-item active"><img class="w-100 d-block" src="/static/assets/img/scenery/agri.jpg" alt="Slide Image"></div>
                        <div class="carousel-item"><img class="w-100 d-block" src="/static/assets/img/scenery/image4.jpg" alt="Slide Image"></div>
                        <div class="carousel-item"><img class="w-100 d-block" src="/static/assets/img/scenery/image6.jpg" alt="Slide Image"></div>
                    </div>
                    <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
                    <ol class="carousel-indicators">
                        <li data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></li>
                        <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
                        <li data-bs-target="#carousel-1" data-bs-slide-to="2"></li>
                    </ol>
                </div>
            </div>
        </section>
        <section class="clean-block about-us">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Qui sont nous ?</h2>
                    <p>--------------------------------------</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-lg-4">
                        <div class="card text-center clean-card"><img class="card-img-top w-100 d-block"  src="/static/assets/img/avatars/day.jpg" height="250">
                            <div class="card-body info">
                                <h4 class="card-title">Rachid DAY</h4>
                                <p class="card-text"><br><span style="color: rgba(0, 0, 0, 0.86); background-color: rgba(255, 255, 255, 0.04);">Élève ingénieur en Data Science et Cloud Computing</span><br><br></p>
                                <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="/static/assets/img/avatars/img_avatar.png" height="250">
                            <div class="card-body info">
                                <h4 class="card-title">Mohamed-Reda BENKACEM</h4>
                                <p class="card-text"><br><span style="color: rgba(0, 0, 0, 0.86); background-color: rgba(255, 255, 255, 0.04);">Élève ingénieur en Data Science et Cloud Computing</span><br><br></p>
                                <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="footer-copyright">
            <p><br><strong><span style="color: rgb(255, 255, 255); background-color: rgb(34, 36, 37);">AIFARM&nbsp;</span></strong><br><strong><span style="color: rgb(112, 117, 121); background-color: rgb(25, 24, 24);">An Environmental Intelligence Startup</span></strong><br><strong><span style="color: rgb(112, 117, 121); background-color: rgb(25, 24, 24);">Made by BENKACEM@DAY</span></strong><br><br>© 2022 Copyright Text</p>
        </div>
    </footer>
    <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
    <script src="/static/assets/js/vanilla-zoom.js"></script>
    <script src="/static/assets/js/theme.js"></script>
    <script src="/static/assets/js/cities.js"></script>
    <script src="/static/assets/js/validation.js"></script>
</body>

</html>