button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button, select {
  text-transform: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#s {
  height: 28px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 12px;
  width: 100%;
}

