<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Contact Us - Brand</title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" href="/static/assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
    <link rel="stylesheet" href="/static/assets/css/Ludens---Country-State-City-selects.css">
    <link rel="stylesheet" href="/static/assets/css/NZDropdown-Singlee.css">
    <link rel="stylesheet" href="/static/assets/css/vanilla-zoom.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="/">AIFARM</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/services">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact-us">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page contact-us-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Crop-recommendation</h2>
                    <p>Find the most suitable crop to grow in your farm</p>
                </div>
                <div>
                    <form method="post" action="/crop-predict" onsubmit="return validation()" name="myform">
                        <div class="mb-3">
                            <div><label class="form-label" for="Nitrogen">Nitrogen</label><input class="form-control form-control-sm" type="number" name="nitrogen" placeholder="Nitrogen quantity ( example : 50 )" minlength="1" maxlength="3" min="0" max="145" required="">
                                <div>
                                    <p></p>
                                </div>
                            </div>
                            <div class="mb-3"><label class="form-label" for="Phosphorous">Phosphorous</label><input class="form-control form-control-sm" type="number" name="phosphorous" placeholder="Phosphorous quantity ( example : 50 )" minlength="1" maxlength="3" min="2" max="150" required=""></div>
                            <div><label class="form-label" for="Pottasium">Potassium</label><input class="form-control form-control-sm" type="number" name="potassium" placeholder="Potassium quantity ( example : 50 )" minlength="1" maxlength="3" min="3" max="210" required="">
                                <p></p>
                            </div>
                            <div class="mb-3"><label class="form-label" for="ph">ph level</label><input class="form-control form-control-sm" type="number" name="ph" placeholder="ph level ( example : 7 )" minlength="1" maxlength="3" min="0" max="14" required=""></div>
                            <div class="mb-3"><label class="form-label" for="Rainfall">Rainfall (in mm)</label><input class="form-control form-control-sm" type="number" name="rainfall" placeholder="Rainfall amount ( example : 50 )" minlength="1" maxlength="3" min="0" required=""></div>
                            <div class="fs-6"><label class="form-label" for="state">State</label>
                            <select onchange="print_city('state', this.selectedIndex);" id="sts" name="stt" class="form-select from-select-lg" style="height: 28px;padding-top: 3px;padding-bottom: 3px;font-size: 12px;width: 100%;" required>
                                <option value="">Select State</option><option value="Tanger-Tétouan-Al Hoceïma">Tanger-Tétouan-Al Hoceïma</option><option value="L'Oriental">L'Oriental</option><option value="Fès-Meknès">Fès-Meknès</option><option value="Rabat-Salé-Kénitra">Rabat-Salé-Kénitra</option><option value="Béni Mellal-Khénifra">Béni Mellal-Khénifra</option><option value="Casablanca-Settat">Casablanca-Settat</option><option value="Marrakech-Safi">Marrakech-Safi</option><option value="Drâa-Tafilalet">Drâa-Tafilalet</option><option value="Souss-Massa">Souss-Massa</option><option value="Guelmim-Oued Noun">Guelmim-Oued Noun</option><option value="Laâyoune-Sakia El Hamra">Laâyoune-Sakia El Hamra</option><option value="Dakhla-Oued Ed Dahab">Dakhla-Oued Ed Dahab</option>
                            </select>
                                <p></p>
                            </div>
                            <div class="fs-6 mb-3"><label class="form-label" for="City">City</label><select class="form-select form-select-lg" id="state" style="height: 28px;padding-top: 3px;padding-bottom: 3px;font-size: 12px;width: 100%;" name="city" required="">
                                    <option value="">Select City</option>
                                </select></div>
                        </div>
                        <div class="mb-3"><button class="btn btn-primary text-center" type="submit">Predict</button></div>
                    </form>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Downloads</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2022 Copyright Text</p>
        </div>
    </footer>
    <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
    <script src="/static/assets/js/vanilla-zoom.js"></script>
    <script src="/static/assets/js/theme.js"></script>
    <script src="/static/assets/js/cities.js"></script>
    <script src="/static/assets/js/validation.js"></script>
</body>

</html>